################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RocketTrackerTest/RocketTrackerTest.VC.VC.opendb
